// General styling

body {
  padding: 0;
  background-color: #faf7ed;
}

#main {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

/**
 * Buttons
*/

.btn-add-player {
  width: 100%;
}

.btn-remove-player {
  display: none;
}

.btn-clean {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.btn-start-game {
  width: 100%
}

/**
 * Icons
*/

.icon-remove {
  fill: 'green'
}

.input-clean {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: text;
  overflow: hidden;
  outline: none;
}


/**
* Table
*/

td {
  padding: 8px
}

/**
 * Player settings table
*/

.player-table {
  .col-bot {
    width: 35px
  }
  .col-color {
    width: 27px
  }
  .col-name {
    width: 200px
  }
  .col-left {
    width: 55px
  }
  .col-right {
    width: 55px
  }
  .col-remove {
    width: 40px
  }

  tbody tr:hover {
    background-color: lightblue;
    .btn-remove-player {
      display: block;
    }
  }
}

.new-match {
  padding: 20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//#game-container {
//  float: left;
//}
//
.canvas-container {
  position: relative;
  display: inline-block;
}

.canvas-container canvas {
  position: absolute;
  left: 0;
  top: 0;
}

//.right-column {
//  float: left;
//  margin-left: 10px;
//}
//
//.fps-container h4 {
//  margin-top: 0px;
//}
//
.color-picker {
  width: 25px;
  height: 25px;
  position: relative;
  float: left;
}

.color-picker-selected {
  width: 25px;
  height: 25px;
}

.color-picker-list {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 25px;
  width: 300px; //TODO: Not nice fix.
}
