// General styling

$m1: 5px;
$m2: 10px;
$m3: 20px;

body {
  padding: 0;
  background-color: #faf7ed;
}

.page-center {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.m-b-2 {
  margin-bottom: $m2;
}

.m-b-3 {
  margin-bottom: $m3;
}

.m-l-1 {
  margin-left: $m1;
}

.m-l-2 {
  margin-left: $m2;
}

.m-r-3 {
  margin-right: $m3;
}

.m-t-2 {
  margin-top: $m2;
}

.m-x-2 {
  margin-left: $m2;
  margin-right: $m2;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-3 {
  margin-top: $m3;
}

.m-x-3 {
  margin-left: $m3;
  margin-right: $m3;
}

/**
 * Buttons
*/

.btn {
  margin-top: $m1;
  margin-bottom: $m1;
  border: none;
  color: white;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  :focus {
    outline: 0;
  }
}

.btn-primary {
  background-color: #4CAF50; /* Green */
}

.btn-secondary {
  background-color: #777777;
}

.btn-remove-player {
  display: none;
}

.btn-clean {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/**
 * Select
 */

.select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
  select {
    color: white;
    -webkit-appearance:none;
    -moz-appearance : none;
    background-color: #4CAF50;
    border: none;
    font-size: 14px;
    height: 29px;
    padding-left: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
  }
}

.select-primary {
  background-color: #4CAF50
}

/**
 * Input
 */

.input {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: text;
  overflow: hidden;
  outline: none;
  border-bottom: 2px dotted #000000;
}

/**
 * Icons
*/

.icon-remove {
  fill: 'green'
}

.input-clean {

}

/**
* Table
*/

.table {
  td {
    padding: 8px
  }
}

/**
 * Player settings table
*/

.table-player {
  padding-top: 40px;

  .col-left {
    text-align: center;
    width: 52px
  }
  .col-right {
    text-align: center;
    width: 52px
  }
  .col-remove {
    width: 40px
  }

  tbody tr:hover {
    td:not(:last-child) {
      background-color: lightblue;
    }
    .btn-remove-player {
      display: block;
    }
  }
}

.table-score {
  width: 100%;
  tr {
    height: 43px;
  }
  td:nth-child(1) {
    width: 27px;
  }
  td:nth-child(3) {
    text-align: center;
  }
}

.new-match {
  padding: 0 20px;
}

//#game-container {
//  float: left;
//}
//
.canvas-container {
  position: relative;
  display: inline-block;
}

.canvas-container canvas {
  position: absolute;
  left: 0;
  top: 0;
}

//.right-column {
//  float: left;
//  margin-left: 10px;
//}
//
//.fps-container h4 {
//  margin-top: 0px;
//}
//
.color-picker {
  width: 25px;
  height: 25px;
  position: relative;
  float: left;
}

.color-picker-selected {
  width: 25px;
  height: 25px;
}

.color-picker-list {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 25px;
  width: 300px; //TODO: Not nice fix.
}

.max-score {
  img {
    height: 29px;
    margin-right: 10px;
  }
  input {
    width: 4em;
    margin-bottom: 1px;
    text-align: center;
  }
}

.game-settings {
  padding: 8px;
}

.heading {
  h1 {
    margin-bottom: 0;
  }
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  border-color: #bdbdbd;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-start {
  justify-content: start;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-self-center {
  align-self: center;
}

.hidden {
  display: none;
}

.round-watch-replay {
  display: none;
  position: absolute;
  z-index: 1;
  padding-left: 2.2rem;
  padding-top: 85px;
}

.round-replay {
  cursor: pointer;
}

.round-replay:hover {
  .round-watch-replay {
    display: inline;
  }
}

.facebook-page-link svg:hover {
  :first-child {
    fill: #365899;
  }
}