@import "./variables";

.m-b-2 {
  margin-bottom: $m2;
}

.m-b-3 {
  margin-bottom: $m3;
}

.m-l-1 {
  margin-left: $m1;
}

.m-l-2 {
  margin-left: $m2;
}

.m-r-3 {
  margin-right: $m3;
}

.m-t-2 {
  margin-top: $m2;
}

.m-x-2 {
  margin-left: $m2;
  margin-right: $m2;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-t-3 {
  margin-top: $m3;
}

.m-x-3 {
  margin-left: $m3;
  margin-right: $m3;
}

.hidden {
  display: none;
}

.opacity-25 {
  opacity: 0.25;
}
